.add-address-container {
  background-color: #ffffff;
  padding: 2rem;
  min-height: 100vh;
}

.add-address-form {
  max-width: 500px;
  margin: auto;
  background-color: #80ed99;
  padding: 2rem;
  border-radius: 10px;
}

.add-address-form h2 {
  color: #22577a;
  text-align: center;
}

.add-address-input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #38a3a5;
  background-color: #ffffff;
  color: #000;
  font-size: 1rem;
}

.add-address-submit {
  width: 100%;
  padding: 0.75rem;
  background-color: #22577a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
